.body-main-info{
    display: grid;
    grid: 45% 50% 5% / 1fr 1fr;
    place-items: center;

    width: 100vw;
    height: 100vh;

    background: url(./../assets/home/background-home-desktop.jpg) no-repeat;
    background-size: cover;

    transition: margin 0.5s;
}

.body-main-text{
    grid-area: 2/1/3/2;
    display: grid;
    grid: 10% 50% 40% / 1fr;
    place-items: center left;

    height: 85%;
    width: 50%;

    color: white;
    text-transform: uppercase;
}

.body-main-text-top{
    color: #D0D6F9;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75;
}
.body-main-text-center{
    font-family: 'Bellefair', sans-serif;
    font-size: 150px;
}
.body-main-text-bottom{
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

.body-main-explore{
    grid-area: 2/2/3/3;
    display: grid;
    place-items: center;

    width: 25%;
    aspect-ratio: 1;

    background-color: white;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    
    font-family: 'Bellefair', serif;
    font-size: 2rem;
    text-transform: uppercase;

    transition: box-shadow 0.2s ease-out;
}

.body-main-explore:hover{
    box-shadow: 0 0 0 5vw hsla(0, 0%, 100%, 0.1);
}